doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/temp.css')
    link(rel='stylesheet', href='/stylesheets/jqueryUI.css')
    link(rel='stylesheet', href='/stylesheets/Pagination.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='jquery-latest.js')
    script(type='text/javascript', src='jquery.tablesorter.js')
    script(src='/javascripts/global.js')
    script(src='/javascript/jquery-2.2.0.js')
    script(src="/javascript/config.js")
    script(src='/javascript/require.js')
    script(src='/javascript/jqueryUI.js')
    script(src='/javascript/jquery.Pagination.js')