/* -----------------------------------------------------------------------------

  COMPENENTS - RATING
  
----------------------------------------------------------------------------- */
.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.c-rating-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.c-rating__full {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../images/stars-full.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__full.is-active {
  background-position: -24px 0;
}

/*.c-rating__full:hover {
  background-position: -24px 0;
}*/

.c-rating__half {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../images/stars-half.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__half.half-active {
  background-position: -24px 0;
}

/*.c-rating__half:hover {
  background: url("../images/stars-full.svg");
  background-position: -24px 0;
}*/


.c-rating__nearfull {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 24px;
  background: url("../images/stars-nearfull.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__nearfull.near-active {
  background-position: -24px 0;
}